/* CSS for the entire page */

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Raleway';
    background-color: #1f202b;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333446;
    height: 100px;
    font-weight: 700;
    color: #ffffff;
}

.highlight{
    color: #b8cfce;
}

.imp{
    font-size: larger;
    font-weight: 700;
}

ul{
    display: flex;
    justify-content: center;
    color: #ffffff;
}

ul li{
    list-style: none;
    margin: 0 23px;
    font-weight: 700;
    color: inherit;
}

ul li a{
    text-decoration: none;
    color: #ffffff;
}

.right ul li a:hover {
    text-decoration: underline;
    color: #7F8caa;
}

.left{
    font-size: 1.8rem;
}

.right{
    color: #ffffff;
}

.firstSection{
    display:flex;
    justify-content: space-around;
    margin: 23px;
}

.firstSection div{
    width: 30%;
    padding: 20px;
    border-radius: 10px;
    color: #ffffff;
}

.leftSection{
    font-size: 2.2rem;
    font-weight: 700;
    color: #ffffff;
    background-color: #7F8caa;

}
.rightSection{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    background-color: #1f202b;
    position: relative;
}
.profileImage{
    width: 90%;
    border-radius: 10px;
}

.overlayImage{
    position: absolute;
    top: 130px;
    left: 60px;
    width: 30%;   
}

.myOriginals {
    display:flex;
    justify-content: space-around;
    margin: 23px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    max-width: 800px;
    color: #ffffff;
}

.myOriginals h1 {
    size-adjust: auto;
    font-size: 2.5rem;
    text-align: left;
    margin-bottom: 0.5rem;
}

.originalsText {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 3rem;
    justify-content: left;
    width: 800px;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 600;
}


.music-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1.5rem;
}

.song h2 {
    margin-bottom: 0.5rem;
}